button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  display: inline-block;
  margin: 1rem 1rem;
  font-size: 1.7rem;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  background-color: #f8a000;
  color: #fff;
  border-radius: 100px;
  transition: 0.2s all;
}

button:hover {
  color: #f8a000;
  background-color: #fff;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.disabled,
.disabled:hover {
  background-color: grey;
}

.disabled:hover {
  color: white;
}
