*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: rgb(151, 142, 142);
  margin: 1rem 0;
}

h3 {
  font-size: 2rem;
  border-bottom: 2px solid black;
  display: block;
  text-align: left;
  padding-left: 1rem;
}

section {
  margin-top: 0.5rem;
}
